/* --------------------------------------
   Layout
   -------------------------------------- */

.logo
{
   height:100px;
}
#inputMessage {
   margin-bottom: 15px;
}
#features {
   margin-top:40px;
   text-align: justify;
}
#features img {
   height: 200px;
   width:100%;
   margin: 0 0 20px;
}
footer {
   height:100%;
   background:black;
   font-size: 12px;
   padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */
.well .page-header {
   margin-top: 0;
}

.well .page-header h1 {
   margin-top: 0;
}


body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}
ul.unstyled {
   list-style: none;
   padding: 0;
}



/* --------------------------------------
   Navbar
   -------------------------------------- */
      
 #searchInput
{
   width: 200px;
   margin-top:10px;
}
#search
{
   margin-top:10px;
}
.navig
{
   margin-top:40px;
}
.navbar-brand
{

   height:110px;
   padding: 5px 25px;
}
.nav
{
   margin-top:10px;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
   margin-top: 40px;
}

.carousel-caption {
   font-size: 24px;
}

.carousel-caption h4 {
   color:white;
   font-size: 20px;
}



   
   






/* --------------------------------------
   Global Styles
   -------------------------------------- */

.well {
   margin: 20px 0;
}
#moreInfo
{
   margin-left:20px;
   margin-right:0;
}
.alert
{
   margin-top: 20px;
   display: none;
}

.tabbable img.thumbnail
{
   margin: 0 15px 10px 0;
}

.thumbnail 
{
   height:220px;
   width:320px;
   position: relative;
}

#moreInfo h3 {
   font-size: 30px;
   font-family:serif;
   margin: 20px 0 10px 20px;
   line-height: 30px;
}
.footer{
   height:500px;
   margin-bottom:-60px;

}
.fact h6
{
   color:white;
}
.dc_logo
{
   margin-left:10px;
   opacity:0.78;
   height:250px;
   width:250px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  
   
	
}

/* Portrait & landscape phone */
@media (max-width: 480px)
{
   .thumbnail
   {
      font-size: 12px;
   }


.carousel-caption h4 {
   color:white;
   font-size: 14px;
}




}

/* Large desktop */
@media (min-width: 1200px) {

	
}
